.previewContainer {
  display: grid;
  grid-template: auto auto 1fr auto / 1fr;
  padding: var(--alignmentL);
  /* color: var(--font-grey); */
}

.previewTitle {
  grid-area: 1 / 1;
  font-size: var(--fontSizeL);
  margin-bottom: var(--alignmentM);
  font-weight: 300;
}

.topBar {
  height: 100%;
  grid-area: 2 / 1;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.previewSection {
  height: 100%;
  grid-area: 2 / 1 / 5 / 1;
  overflow: auto;
}

.topBar .expandBtn {
  margin: var(--alignmentS);
}

.bottomBar {
  grid-area: 4 / 1;
  z-index: 1;
}

.progressWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.progress {

}
