.sectionContainer {
  padding: var(--alignmentL);
}

.divider {
  margin: var(--alignmentM) 0;
}

.headerDivider{
  position: relative;
  flex: 1;
  padding: 0 !important;
}

.headerDivider::before {
  content: " ";
  position: absolute;
  height: 1px;
  top: 50%;
  width: 100%;
  background: var(--font-grey);
}

.heading {
  color: var(--font-grey);
  margin: 0 var(--alignmentM);
}

.panelDetailContainer {
  width: 100%;
}

.questionAddButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
