.sectionContainer .section {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  background: var(--primary-background);
  margin: 0 -24px;
}

.sectionContainer .section::before {
  height: 0;
}

.addSectionBar {
  display: flex;
  align-items: center;
}
