.progress {

}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--alignmentL);
  position: relative;
}

.topBar {
  position: sticky;
  background: var(--primary-background);
  padding: var(--alignmentS) var(--alignmentL);
  top: 0;
  z-index: 1000;
  margin: 0 -24px;
}

.formContainer {
  height: 100%;
  width: 100%;
}

/* Group the Form */
.questionForm {

}

.title {
  font-size: var(--fontSizeL);
}

.questionForm .title, .questionForm .description {
  display: block;
  margin: var(--alignmentS) 0;
}

.questionForm .title .textInput {
  font-size: var(--fontSizeM);
}

.questionForm .textInput {
  font-size: var(--fontSizeS);
}

.tabContainerWrapper {
  padding: var(--alignmentM);
  padding-left: 0;
  padding-right: 0;
}

.questionAddButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: var(--alignmentM); */
}

.questionCard {
  margin-bottom: var(--alignmentL);
}
