.cardWrapper {
  display: flex;
  flex: 0 0 100%;
  margin-top: var(--alignmentM);
  margin-bottom: var(--alignmentM);
  position: relative;
}

.cardWrapper:hover .dragBox{
  opacity: 1;
}

.dragBox {
  position: absolute;
  top: 10px;
  left: -25px;
  height: 40px;
  width: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--font-grey);
  opacity: 0;
  transition-delay: 2s;
  transition: opacity .5s;
}

.cardContainer {
  flex: 1;
  z-index: 1;
  padding: var(--alignmentM);
}

.headerBar {
  display: flex;
  align-items: center;
}

.headerBar .questionTitle {
  flex: 1;
  margin-right: var(--alignmentM);
}

.dropDownBtn {
  /* margin-left: var(--alignmentM); */
}

.dataValidateContainer {
  padding: var(--alignmentM);
}

.footerBar {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--alignmentS);
}

.asteriskBtn {
}
