@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a1rhbw');
  src:  url('fonts/icomoon.eot?a1rhbw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a1rhbw') format('truetype'),
    url('fonts/icomoon.woff?a1rhbw') format('woff'),
    url('fonts/icomoon.svg?a1rhbw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-asterisk-black-star-shape:before {
  content: "\e900";
}
.icon-asterisk:before {
  content: "\e901";
}
