body {

  /* Colors */
  --primary-background: #F9F9FB;
  --primary-color: #2196F3;
  --secondary-color: #FF5722;

  --font-grey: #A7A7A7;

  /* alignment */
  --alignmentSSL: 108px;
  --alignmentSL: 72px;
  --alignmentXXXL: 36px;
  --alignmentXXL: 32px;
  --alignmentXL: 28px;
  --alignmentL: 24px;
  --alignmentM: 16px;
  --alignmentS: 8px;
  --alignmentXS: 4px;

  /* Fonts */
  --fontSizeBase: 14px;

  --fontSizeXXXL: 36px;
  --fontSizeXXL: 30px;
  --fontSizeXL: 26px;
  --fontSizeL: 24px;
  --fontSizeXXXM: 22px;
  --fontSizeXXM: 20px;
  --fontSizeXM: 18px;
  --fontSizeM: 16px;
  --fontSizeS: 14px;
  --fontSizeXS: 12px;
  --fontSizeXXS: 10px;

}
