.projectContainer {
  display: grid;
  grid-template-columns: 6fr 4fr;
  background: var(--primary-background);
}

.questionForm {
  overflow: auto;
}

.preview{
  overflow: auto;
}

@media (max-width: 768px) {
  .projectContainer {
    grid-template-columns: 1fr;
  }

  .projectContainer .preview {
    display: none;
  }
}
