.question {
  margin-bottom: var(--alignmentL);
  padding: 0 var(--alignmentM);
  font-weight: 200;
  transition: all .5s;
  padding-top: var(--alignmentM);
  padding-bottom: var(--alignmentXL);
}

.fade {
  opacity: 0.2;
}

.highlight {
  border-left: 3px solid teal;

  background: var(--primary-background);
}

.questionNumber {
  color: var(--font-grey);
  font-size: var(--fontSizeXS);

}

.questionTitle {
  font-size: var(--fontSizeS);

}

.questionContent {

}

.question .textField {
  /* margin: 0; */
  margin-top: var(--alignmentS);
}

.textField .textFieldInput {
  font-size: var(--fontSizeS);
  padding: var(--alignmentXS) 0;
}

.questionContent .textField {
  /* margin: 0; */
}

.formControl {

}

.formControlLabel {

}

.radioGroup {

}

.radio {
  /* height: 16px; */
}

.radio svg{
  height: var(--fontSizeXXXM);
}

.mandatory {
  color: red;
}
