.previewContainer {
  padding: var(--alignmentL);
  width: minmax(1060px, 1060px);
}

.fullscreenPreview {
  min-width: 640px;
}

.title {
  font-size: var(--fontSizeL);
  margin-bottom: var(--alignmentS);
}

.description {
  font-size: var(--fontSizeM);
  color: var(--font-grey);
  margin-bottom: var(--alignmentM);
}

.pageContent {
  padding: var(--alignmentM);
}

.section {
  margin-bottom: var(--alignmentM);
}

.sectionTitle {
  font-size: var(--fontSizeXXM);
  margin-bottom: var(--alignmentM);
  font-weight: 200;
}

.previewContainer .divider {
  margin: var(--alignmentM) 0;
}

.previewContainer .submit {
  margin-left: var(--alignmentM);
}
