.container {
  height: 100%;
  display: grid;
  grid-template: 'header header header' auto
                 '.      main   .     ' minmax(0, 1fr) /
                 1fr minmax(auto, 1400px) 1fr;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  overflow: auto;
}
